.box{
    height:90vh;
    width:99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box div{
height: 10px;
width: 10px;
background: black;
margin: 0px 20px;
border-radius: 200px;

}
h1{
    font-size: 35px;
    color: gray;
    margin-left: -250px;
}

.box div:nth-child(odd){
    animation: updown 2s linear infinite reverse;
}
.box div:nth-child(even){
    animation: updown2 2s linear infinite reverse;
}

@keyframes updown {
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(40px);
    }
    70%{
        transform: translateY(30px);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes updown2 {
    0%{
        transform: translateY(-20px);
    }
    30%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(-40px);
    }
    70%{
        transform: translateY(-50px);
    }
    90%{
        transform: translateY(-10px);
    }
}