@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.calculator-grid {
    height:80vh;
    width: 50vh;
   box-shadow: 1px 1px 20px 1px rgb(3, 3, 85);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px ;
    font-family: 'Poppins', sans-serif;

}

.calculator-grid .output {
    height: 30%;
    width: 100%;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    font-weight: 600;
    position: relative;
}
.calculator-grid .output .previous-operands{
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(94, 91, 91);
    font-weight: 600;
}
.calculator-grid .output .current-operands{
    font-size: 60px;
    position: absolute;
    right: 10px;
    top: 100px;

}
.calculator-grid .btn {
    background-color: #fff;
    height: 70%;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.grid-2{
    grid-column: 2 span;
}
.calculator-grid .btn button{
    background-color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    border: none;
    box-shadow: 1px 1px 2px 1px #c1c0c0;
    margin: 3px;
    border-radius: 5px;
    font-size: 30px;
   
}
.calculator-grid .btn button:hover{
    background-color: #eee;
}


.calculator-grid .btn .color
{
    background-color: rgb(6, 57, 111);
    color: #fff;
}
.calculator-grid .btn .color:hover{
    background-color:  rgba(6, 57, 111, 0.827);
}